h1 {
    text-align: center;
}

/* use # for ids. this takes priority over paragraph tags! */
#main {
    color:rgb(190, 196, 255);
    background-color:rgb(61, 12, 255);
}

/* use . for classes*/
.Box{
    text-align: center;
    border: 3px solid rgb(59, 0, 179);
    padding: 15px 20px 20px 15px;
}

.center{
    text-align: center;
}

